In [1]:
import pandas as pd
from db_schema import engine, Statistics, StatisticsValue
from sqlalchemy.orm import sessionmaker
from sqlalchemy import func, extract
from us_state_abbrev import us_state_abbrev as abr

In [2]:
Session = sessionmaker(bind=engine)

In [3]:
session = Session()

In [4]:
years = list(range(2013,2019))
all_data = None
for year in years:
    year_data = pd.read_csv(f'data/{year}_Guns.csv', thousands=',') 
    year_data['year'] = year
    if year == 2013:        
        all_data = year_data
    else:
        all_data = pd.concat([all_data, year_data])
all_data.reset_index(drop=True, inplace=True)
all_data.sample(5)

              State   Total  year
216            Iowa   28494  2017
77          Montana   11461  2014
221        Kentucky   81068  2017
29         Nebraska   13096  2013
282  North Carolina  165170  2018

In [5]:
stat = Statistics(name='Guns Owned')
for _,row in all_data.iterrows():
    value = StatisticsValue(year=row['year'], state=abr[row['State']], value=row['Total'])
    stat.values.append(value)
session.add(stat)
session.commit()